<div class="row">
  <div class="col-lg-6">
    <div class="card" style ="height: 100%;">
<div class="card-body">
  <h5 class="card-title">{{$ctrl.item.title}}</h5>
  <p class="card-text">Brand: {{$ctrl.item.brand}}</p>
  <p class="card-text">Price: {{$ctrl.item.price}}</p>
  <p class="card-text">Fabric: {{$ctrl.item.fabric}}</p>
  <p class="card-text">Amount: {{$ctrl.item.amount}}</p>
</div>
    </div>
  </div>
  <div class ="col-lg-6">
    <form class="card" ng-submit="$ctrl.addOrder()">
      <div class="card-body">
      <div class="form-group">
        <label for="name">Last name</label>
        <input type="text" class="form-control" ng-model="$ctrl.name" required placeholder="Enter last name">
      </div>
      <div class="form-group">
        <label for="family">First name</label>
        <input type="text" class="form-control" ng-model="$ctrl.family" required placeholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="number">Phone number</label>
        <input type="text" class="form-control" ng-model="$ctrl.number" required placeholder="Phone number">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" ng-model="$ctrl.amount" required placeholder="Amount" >
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
    </form>
  </div>
</div>
