
<img ng-src="{{$ctrl.book.imgUrl}}" class="book" />
<a href="#!/books"><button type="button" class="btn btn-primary">List of Books</button></a>
<a ng-if ="!$ctrl.userIsAutorized" href="#!/registration"><button type="button" class="btn btn-primary">Log in</button></a>
<input class="btn btn-primary" ng-if ="$ctrl.userIsAutorized"  type="submit" value="Log out" ng-click="$ctrl.logOut()">
<h1>{{$ctrl.book.name}}</h1>

<div class="book-thumbs">
  <p ng-if="$ctrl.book.available &&  $ctrl.userIsAutorized"> <input class="btn btn-primary" type="submit"
      value="Reserve" ng-click="$ctrl.reserve()"></p>
  <p ng-if="$ctrl.book.available && !$ctrl.userIsAutorized"><a href="#!/registration"><button type="button" id="Log in"
        class="btn btn-primary">Log in to reserve</button></a></p>
        <p ng-if="!$ctrl.book.available && $ctrl.rightToReturn"><input class="btn btn-primary" type="submit" value="Return"
          ng-click="$ctrl.return()"></p>
  <p ng-if="$ctrl.rightToEdit"><a href="#!/editBook/{{bookId}}"><button type="button" id="Edit"
        class="btn btn-primary">Edit</button></a></p>
</div>

<ul class="specs">
  <dl>
    <dt>Published</dt>
    <dd>{{$ctrl.book.publisher}}</dd>
    <dd>{{$ctrl.book.date | date}}</dd>
    <dt>Available</dt>
    <dd>{{$ctrl.book.available}}</dd>
    <dt>Writer</dt>
    <dd>{{$ctrl.book.writer}}</dd>
  </dl>
</ul>