<div>
    <div class="panel-heading">
        <h3 class="panel-title">Please input information about book</h3>
    </div>
    <form  class="panel-body"ng-submit="$ctrl.add()">
        
            <label>Title:</label>
            <input  class="form-control" required ng-model="name" type="text"  />
       
            <label>Publisher:</label>
            <input  class="form-control" required ng-model="publisher" type="text" />
       
            <label>Writer:</label>
            <input  class="form-control" required ng-model="writer" type="text" />
            <label>Image url:</label>
            <input  class="form-control"  ng-model="url" type="text" />
 
            <label>Date of publish:</label>
            <input  class="form-control" required ng-model="day" type="date" />
        
            <button type="submit" class="btn btn-lg btn-success btn-block" name="finish">Add</button>
    </form>
</div>
<p></p><a href="#!/books"><button type="button" class="btn btn-primary">Go to books</button></a></p>