<div>
    <div class="panel-heading">
        <h3 class="panel-title">Please input information about book</h3>
    </div>
    <form  class="panel-body"ng-submit="$ctrl.add()">
        
            <label>Title:</label>
            <input  class="form-control" required ng-model="name" type="text"  />
       
            <label>Publisher:</label>
            <input  class="form-control" required ng-model="publisher" type="text" />
       
            <label>Writer:</label>
            <input  class="form-control" required ng-model="writer" type="text" />

            <label>Date of publish:</label>
            <input  class="form-control" required ng-model="day" type="date" />

            <label>Image:</label>
            <input type="file" id="file" name="file"/>
        
            <button type="submit" class="btn btn-lg btn-success btn-block" name="finish">Add</button>
    </form>
</div>
