<div>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Library</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Menu</p>
            <li>
                <a href="#!/books" class="dropdown-toggle">List of books</a>
            </li>
            <li ng-if="autorized()">
                <a href="#!/addBook">Add a book</a>
            </li>
            <li ng-if="!autorized()">
                <a href="#!/registration">Log in to add a book</a>
            </li>
            <li ng-if="autorized()">
                <a href="#!/registration" ng-click="logout()">Log out</a>
            </li>
        
        </ul>
    </nav>

</div>