<div>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Library</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Menu</p>
            <li>
                <a ui-sref="items" class="dropdown-toggle">Available propositions</a>
            </li>
            <li ng-if="!autorized()">
                <a ui-sref="registration">Log in</a>
            </li>
            <li ng-if="autorized()">
                <a ui-sref="registration" ng-click="logout()">Log out</a>
            </li>
            <li ng-if="role()==1">
                <a ui-sref="reports" ng-click="">Reports</a>
            </li>
            <li ng-if="role()==1">
                <a ui-sref="users" ng-click="">User managment</a>
            </li>
            <li ng-if="role()">
                <a ui-sref="orders">Orders managment</a>
            </li>
            <li ng-if="role()">
                <a ui-sref="add-item" ng-click="">Add item</a>
            </li>
        
        </ul>
    </nav>

</div>