<div>
    <div class="panel-heading">
        <h3 class="panel-title">Please sign in</h3>
    </div>
    <form class="panel-body" ng-submit="$ctrl.registrate()" >
        <input class="form-control" required ng-model="name" placeholder="name" name="name" type="text"/>

        <input class="form-control" required ng-model="adress" placeholder="adress" name="adress" type="text"/>


        <input class="form-control" required name="date" ng-model="birthday" type="date"/>

        <input class="form-control" required  type="text" ng-model="phone" ui-mask="999-999-9999"/>

        <button class="btn btn-lg btn-success btn-block" id="Registrate" type="submit">Registrate</button>
    </form>
    <form class="panel-body" ng-submit="$ctrl.login()">

        <input class="form-control"  ng-model="nameLogin" placeholder="Input name to login" name="nameLogin"
            type="text" required/>

        <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
    </form>

<p></p><a href="#!/books"><button type="button" class="btn btn-primary">Go to books</button></a></p>