<div class="row justify-content-center " ng-if="!$ctrl.autorized">
    <div class="card" style="width:400px">
        <div class="card-body">

            <h5 class="card-title">Please sign in</h5>

            <form id="loginForm" ng-submit="$ctrl.login()">
                <div class="form-group">
                    <label for="emailLogin">Email</label>
                    <input class="form-control" ng-model="$ctrl.emailLogin" placeholder="Input email to login"
                        name="emailLogin" type="text" required />
                </div>
                <div class="form-group">
                    <label for="passwordLogin">Password</label>
                    <input class="form-control" ng-model="$ctrl.passwordLogin" placeholder="Input password to login"
                        name="passwordLogin" type="password" required />
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
            </form>
        </div>

    </div>

</div>
<div ng-if="$ctrl.autorized">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Welcome to the library!</h1>
        </div>
    </div>
</div>