
<img alt="I like books" ng-src="{{$ctrl.book.ImgUrl}}" class="book" />
<h1>{{$ctrl.book.Name}}</h1>

<div class="book-thumbs">
  <p ng-if="$ctrl.book.IsAvailable &&  $ctrl.userIsAutorized"> <input class="btn btn-primary" type="submit"
      value="Reserve" ng-click="$ctrl.reserve()"></p>
  <p ng-if="$ctrl.book.IsAvailable && !$ctrl.userIsAutorized"><a href="#!/registration"><button type="button" id="Log in"
        class="btn btn-primary">Log in to reserve</button></a></p>
        <p ng-if="!$ctrl.book.IsAvailable && $ctrl.rightToReturn"><input class="btn btn-primary" type="submit" value="Return"
          ng-click="$ctrl.reserve()"></p>
  <p ng-if="$ctrl.rightToEdit&&($ctrl.book.IsAvailable|| $ctrl.rightToReturn)"><a href="#!/editBook/{{bookId}}"><button type="button" id="Edit"
        class="btn btn-primary">Edit</button></a></p>
        <p ng-if="$ctrl.rightToEdit&&$ctrl.rightToReturn||($ctrl.rightToEdit&&$ctrl.book.IsAvailable)"><button type="button" ng-click="$ctrl.delete()" id="Delete"
          class="btn btn-primary">Delete</button></p>
</div>

<ul class="specs">
  <dl>
    <dt>Published</dt>
    <dd style="max-width: 90px; overflow: hidden;">{{$ctrl.book.Publisher}}</dd>
    <dd>{{$ctrl.book.Date | date}}</dd>
    <dt>Available</dt>
    <dd>{{$ctrl.book.IsAvailable}}</dd>
    <dt >Writer</dt>
    <dd style="max-width: 90px; overflow: hidden;">{{$ctrl.book.Writer}}</dd>
  </dl>
</ul>